.wrapper .img-womens{
    background-image: url(./assets/новинки.svg);
    width: 1140px;
    height: 502px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.wrapper .new-collection{
    background-image: url(./assets/baner.svg);
    width: 1140px;
    height: 406px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.wrapper .store{
    background-image: url(./assets/booriva\ store.png);
    width: 1000px;
    height: 770px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}